body {
    background-color: rgb(150, 112, 221) ;
}

nav {
    background-color: goldenrod;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a:hover {
    background-color: rgb(75, 179, 228);
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

img {
    display: block;
    width: 40%;
    margin-left:auto;
    margin-right:auto;
}